# Задание 1
Создайте numpy array с элементами от числа N до 0 (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).

In [1]:
import numpy as np
n=10
first=np.arange(n-1,-1,-1)
first

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

# Задание 2
Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

In [2]:
n=10
second=np.diag(np.arange(n-1,-1,-1), k=0)
summ=sum(second[i][i] for i in range(n))
summ

45

# Задание 3
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [3]:
import pandas as pd
ratings=pd.read_csv('ratings.csv')

In [4]:
result=ratings[ratings['rating']==5]['movieId'].value_counts()
result.head()

318    31896
296    27762
593    22513
527    22355
260    22117
Name: movieId, dtype: int64

In [5]:
print(f'id фильма с максимальным количеством оценок 5.0: {result.index[0]}')

id фильма с максимальным количеством оценок 5.0: 318

# Задание 4
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [6]:
power=pd.read_csv('power.csv')

In [7]:
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [8]:
power[((power['country']=='Lithuania')|(power['country']=='Latvia')|(power['country']=='Estonia'))&((power['category']==4)|(power['category']==12)|(power['category']==21))&((power['year']>=2005)&(power['year']<=2010))&(power['quantity']>=0)]['quantity'].sum()

240580.0

# По шагам

Создаем таблицу, в которой будут учтены только Латвия, Литва и Эстония

In [9]:
power_country_selected=power[((power['country']=='Lithuania')|(power['country']=='Latvia')|(power['country']=='Estonia'))]
power_country_selected.head()

       country  year  quantity  category
373  Lithuania  2014      39.0         1
374  Lithuania  2013     192.0         1
375  Lithuania  2012     196.0         1
376  Lithuania  2011     171.0         1
377  Lithuania  2010     158.0         1

Теперь из нее выбираем необходимые нам категории: 4, 12 и 21

In [10]:
power_category_selected=power_country_selected[(power_country_selected['category']==4)|(power_country_selected['category']==12)|(power_country_selected['category']==21)]
power_category_selected.head()

       country  year  quantity  category
10617  Estonia  2008       1.0         4
10618  Estonia  2007       0.0         4
10619  Estonia  2006       0.0         4
10620  Estonia  2005       1.0         4
10621  Estonia  2004       1.0         4

Теперь выбираем нужный интервал по годам

In [11]:
power_year_selected=power_category_selected[(power_category_selected['year']>=2005)&(power_category_selected['year']<=2010)]
power_year_selected.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4

Теперь получаем итоговую табличку без отрицательных значений quantity

In [12]:
power_all_selected=power_year_selected[(power_year_selected['quantity']>=0)]
power_all_selected.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4

Теперь посчитаем сумму по столбцу quantity

In [13]:
power_all_selected['quantity'].sum()

240580.0

# Задание 5
Решите систему уравнений:
4x + 2y + z = 4;
  x + 3y = 12;
  5y + 4z = -3

In [14]:
from numpy import linalg

In [15]:
M=np.array([[4,2,1],[1,3,0],[0,5,4]])
v=np.array([4,12,-3])

In [16]:
answer=linalg.solve(M, v)
answer[0]

0.4666666666666668

In [17]:
print(f'x={answer[0]} \ny={answer[1]}\nz={answer[2]}')

x=0.4666666666666668
y=3.844444444444444
z=-5.555555555555555